<p style="color: green"><%= notice %></p>

<h1 class="text-xl font-semibold leading-6 text-gray-900"><%= @riding.name %> - <%= @riding.riding_code %></h1>
<%= @riding.province %>


<h2 class="mt-4 text-lg font-semibold leading-6 text-gray-900">Polling locations</h2>

<div class="mt-6 p-6 border border-gray-500 rounded-lg grid grid-cols-6 gap-y-2">

  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Title</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Address</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">City</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Postal Code</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Polls</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Actions</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <%= render @polling_locations %>
    </tbody>
  </table>

</div>